.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/python_projects.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/
.vscode
.DS_Store
__pycache__
venv
.ipynb_checkpoints
.vscode
*.log
node_modules
.vscode

.env
**/volumes/data
**/volumes/log


*.class
